* {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-size: 1rem;
  padding-block: 5px;
}

body {
  margin: 0;
  padding: 0;
  background: #dddddd;
}

/* Forms and alike */

.box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  max-width: 800px;
  width: 100%;
  background: white;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 50px;
}

button[type=submit] {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  width: inherit;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  font-size: 1rem;
  padding: 5px;
}

/* Tickets */

.ticket-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}

.ticket-list-entry {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  background: white;
}

.ticket-list-entry > footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 600px) {
  .ticket-list-entry > footer {
    flex-direction: row;
  }
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  align-items: center;
}

/* Flashes */

.flashes {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flash {
  padding: 1rem;
  border-radius: 5px;
  animation: fadeout 4s ease forwards;
  border: 1px solid black;
  box-shadow: 0 0 20px #333333;
  background: white;
  display: flex;
}

.flash-banner {
  background: green;
  width: 10px;
  height: calc(100% - 2px);
  position: absolute;
  left: 1px;
  top: 1px;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

@keyframes fadeout {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

/* Navigation */

nav {
  background: white;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.navbar-options {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding-block: 15px;
}