<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Tickets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Tickets</h1>

    {% if tickets %}
        <ul>
        {% for ticket in tickets %}
            <li>
                <strong><a href="/tickets/{{ ticket.id }}">{{ ticket.title }}</a></strong>
                <br />
                <small>Author: {{ ticket.author.email }}</small>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tickets found.</p>
    {% endif %}
</body>
</html>
