{% extends "layout.html" %}

{% block title %}Tickets{% endblock %}

{% block content %}
    <h1>Tickets</h1>

    {% if tickets %}
        <ul class="ticket-list">
        {% for ticket in tickets %}
            <li class="ticket-list-entry">
                <h2><a href="/tickets/{{ ticket.id }}">{{ ticket.title }}</a></h2>
                <br />
                <p>Author: {{ ticket.author.email }}</p>
                <p>Created at: {{ ticket.created_at }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tickets found.</p>
    {% endif %}
{% endblock %}

