<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>New Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action="/tickets/new" method="POST">
        <h1>New Ticket</h1>
        <label for="title">Title:</label>
        <input name="title" id="title" required /><br /><br />

        <label for="content">Content:</label>
        <input name="content" id="content" required /><br /><br />

        <button type="submit">Create ticket</button>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>
