{% extends "layout.html" %}

{% block title %}Ticket{% endblock %}

{% block content %}
<div class="centered-container">
  <div class="box">
    <h1>{{ ticket.title }}</h1>
    <p><i class="bi bi-person"></i> Author: {{ ticket.author.email }}</p>
    <p><i class="bi bi-clock"></i> Created at: {{ ticket.created_at.strftime("%B %d, %Y %I:%M %p") }}</p>
    <p>{{ ticket.content }}</p>
    {% if ticket.author.id == user.id %}
    <a href="/tickets/{{ ticket.id }}/edit"><button class="main-button">Edit ticket</button></a>
    {% endif %}
    <a href="/tickets/{{ ticket.id }}/comment"><button class="main-button">Comment on ticket</button></a>
    {% if user.admin %}
    <form action="/tickets/{{ ticket.id }}/delete" method="POST"
      onsubmit="return confirm('Are you sure you want to delete this ticket?');">
      <button type="submit" class="main-button danger">Delete ticket as resolved</button>
    </form>
    {% endif %}
  </div>

  <h1>Comments</h1>
  {% if comments %}
  <ul class="list">
    {% for comment in comments %}
    <li class="list-entry">
      <h2>{{ comment.author.email }}</h2>
      <p><i class="bi bi-clock"></i> Created at: {{ comment.created_at.strftime("%B %d, %Y %I:%M %p") }}</p>
      <p>{{ comment.content }}</p>
      {% if user.admin %}
      <form action="/tickets/{{ ticket.id }}/comments/{{ comment.id }}/delete" method="POST"
        onsubmit="return confirm('Are you sure you want to delete this comment?');">
        <button type="submit" class="main-button danger">Delete comment</button>
      </form>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No comments found.</p>
  {% endif %}
</div>
{% endblock %}