{% extends "layout.html" %}

{% block title %}Ticket{% endblock %}

{% block content %}
    <div class="centered-container">
        <div class="box">
            <h1>{{ ticket.title }}</h1>
            <p><i class="bi bi-person"></i> Author: {{ ticket.author.email }}</p>
            <p><i class="bi bi-clock"></i> Created at: {{ ticket.created_at.strftime("%B %d, %Y %I:%M %p") }}</p>
            <p>{{ ticket.content }}</p>
            {% if ticket.author.id == user.id %}
                <a href="/tickets/{{ ticket.id }}/edit"><button class="main-button">Edit ticket</button></a>
            {% elif user.admin %}
                <button class="main-button">Delete ticket as resolved</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
