{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="centered-container">
        <header>
            <h1>All Users</h1>
            <a href="/register"><button><i class="bi bi-plus"></i> Register new user</button></a>
        </header>

        {% if users %}
            <ul class="list">
            {% for current_user in users %}
                <li class="list-entry">
                    <h2>{{ current_user.email }}</h2>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No users found.</p>
        {% endif %}
    </div>
{% endblock %}

